*{
    text-decoration: none;
    font-family: 'Times New Roman';
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fffaf3;
}
.navbar{
    background-color:white;
    display: flex;
    justify-content: space-between;
    
}
.nav-links li{
    color: white;
    padding: 14px 36px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;

    
}
.nav-links li a{
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    font-family: georgia;
}
.azure button{
    border-radius:20px;
    margin-top: 20px;
    margin-right:10px ;
    width: 80px;
    height: 30px;
    background-color: white;
    border: 1px solid grey;
    font-size: 15px;
    font-weight: bold;
}
.azure button:hover{
    background-color: antiquewhite;
}
.logo{
    height: 95px;
    width:180px;
    position: relative;
}
body{
    background-color:white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; ;
}
.optimus{
    margin-left: 22px;
    margin-right: 50px;

}
.optimus img{
    width:1300px;
    height:600px;
    border-radius: 5px;
    position: relative;
}
.description{
    position: absolute;
    top: 20%;
    left:35%;
    
}
.description h1{
    text-align: center;
    font-family: georgia;
    font-size: 50px;
}
.description p{
    margin: -5px;
    color:rgb(119, 95, 95);
    text-align: center;
    font-size: 20px;
}
.container{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    background-color: bisque;
    width: 1000px;
    height: 150px;
    position: absolute;
    top:70%;
    
}
.boll{

    flex-basis: 50%;
    border-radius: 10px;
    background-color: rgb(236, 225, 225);
    

}
.rust li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
   

}
.rust{
    flex-basis: 50%;
    background-color: rgb(196, 186, 186);
     border-radius: 10px;
}
.rust h4{
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: 4px;
    color: rgb(144, 86, 185);
    font-size: larger;
}
.uno1{

    width: 100px;
    border-radius: 10px;
    height: 40px;
    border: 0.5px solid grey;
    margin-left: 60px;
}
.uno2{
    width: 100px;
    margin-left:5px;
    border-radius: 10px;
    height: 40px; 
    border:  0.5px solid grey;
}
.uno3{

    width: 40px;
    margin-left: 20px;
    border-radius: 10px;
    height: 40px;
    border:  0.5px solid grey;
    
}
.boll input{
    margin-left: 20px;
    margin-bottom:3px;
    margin-top: 10px;
    width: 300px;
    border-radius:10px ;
    height: 40px;
    border:  0.5px solid grey;
}
.boll button{
    border-radius: 5px;
    margin-left:10px;
    background-color: rgb(90, 7, 150);
    color:white;
    height: 40px;
    border: none;
    width:70px;

}
.bollu{
    margin-left: 4px;
    border-radius: 5px;
    margin-top: 0px;

}
.hope h4{
    margin-top: 2px;
    margin-left:10px;
    color: rgb(169, 149, 184);
    font-size: larger;
}

.bolla p{
    margin:5px;
    color:grey;
    
}
.figma{
    margin-bottom: 100px;
    margin-top:3px ;
    display: inline-block;
    
    margin-left: 40px;
}
.fring{
    margin-left: 5px;
    color: grey;
    margin-bottom: 20px;
    
}
.zen{
    border-radius: 5px;
    margin-left: 30px;
    background-color: rgb(90, 7, 150);
    color:white;
    height: 40px;
    border: none;
    width:60px;
}


    

.container2{
    background-color: grey;
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;


}

.footer{
 background-color:grey;
 padding: 70px 0;
 border-start-end-radius:10px;
}
ul{
    list-style-type: none;
} 
.footer-col{
    width: 20%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: georgia;
    position: relative;
}
.testimonial{
    background: #fff;
    padding: 30px;
    margin: 10%;

  }
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;

}
.col{
    
    background: #f1f1f1;
    color: #434343;
    text-align: center;
    padding: 5px;
    
    
    
}
